/* ///// MAIN SETUP ///// */
body{
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
}

h1,h2,h3 {
    font-family: 'Times New Roman', Times, serif;

}
h2{
    color:#5637DD;
}

header h2{
    color: white;
}



/* ///// NAVBAR///// */
nav {
    background: #c43dd6;
    height: 60px;
}
a{
    color: white;
    font-size: 17px;
}

/* ///// FOOTER///// */
footer{
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

